importFrom("methods", "setRefClass", "new")
importFrom("RSQLite", "SQLite", "dbConnect", "dbGetQuery", "dbDisconnect")
importFrom("utils", "flush.console", "tail")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.matrix",
    "dim",
    "dim<-",
    "dimnames",
    "dimnames<-",
    "rownames",
    "rownames<-",
    "colnames",
    "colnames<-",
    "length",
    "close"
)
exportClasses(
    "filematrix" 
)
S3method("[", filematrix)
S3method("[<-", filematrix)

